.transaction-list {
  margin-top: 1rem;
}

.table {
  margin-bottom: 0;
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 0;
}

.text-success {
  color: #198754 !important;
}

.text-danger {
  color: #dc3545 !important;
}